<head>
	<meta name="generator" content="Hugo 0.48" /> 
    
    
    <meta http-equiv="refresh" content="0; URL=https://jkelleyrtp.github.io/portfolio/" />
    
    
    
    
    
    
    
    
  </head>